<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Detalle de Pedido</title>
</head>
<style>
    table,td {
        border: solid 1px black;
        text-align: center;
    }
    thead {
        background-color: yellow;
    }
    .tabla1,.tabla1 td {
        border: none;
        margin: 20px 100px 30px 0px;
        text-align: left;
    }
    a{
        margin-left: 20px;
    }
</style>
<body>
    <table class="tabla1">
        <tr>
            <td>Id de Pedido: {{registro.0.0}}</td>
        </tr>
        <tr>
            <td>Fecha: {{registro.0.1}}</td>
        </tr>
        <tr>
            <td>Hora: {{registro.0.2}}</td>
        </tr>
        <tr>
            <td>Monto Total: S/ {{total}}</td>
        </tr>
    </table>
    <table>
        <thead>
            <tr>
                <td><p>Código de Producto</p></td>
                <td><p>Nombre de Producto</p></td>
                <td><p>Precio unitario</p></td>
                <td><p>Cantidad</p></td>
                <td><p>Descuento</p></td>
                <td><p>Subtotal</p></td>
            </tr>
            
        </thead>
        <tbody>
            {% for detalle in registro %}
                <tr>
                    <td><p>{{detalle.3}}</p></td>
                    <td><p>{{detalle.4}}</p></td>
                    <td><p>{{detalle.5}}</p></td>
                    <td><p>{{detalle.6}}</p></td>
                    <td><p>{{detalle.7}}</p></td>
                    <td><p>{{detalle.8}}</p></td>                   
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/listaPedidos">Volver</a>
</body>
</html>