<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pedidos</title>
</head>
<style>
    table,td {
        border: solid 1px black;
        text-align: center;
    }
    thead {
        background-color: yellow;
    }
    a{
        margin-left: 20px;
    }
</style>
<body>
    <table>
        <thead>
            <tr>
                <td><p>ID de Pedido</p></td>
                <td><p>Fecha de Pedido</p></td>
                <td><p>Hora de Pedido</p></td>
                <td><p>Monto Total</p></td>
                <td><p>Detalle de Pedido</p></td>
            </tr>
            
        </thead>
        <tbody>
            {% for pedido in registro %}
                <tr>
                    {% for dato in pedido %}
                    <td><p>{{dato}}</p></td>
                    {% endfor %}
                    <td><form action="/detallePedido/{{pedido.0}}">
                        <button>Ver detalle</button>
                    </form></td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <form action="/salir">
        <button>Cerrar Sesión</button>
    </form>
</body>
</html>